input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="password"],
select,
textarea,
textarea.form-control {
    height: 44px !important;
    width: 100% !important;
    margin: 0;
    padding: 0 20px !important;
    vertical-align: middle;
    background: #fff !important;
    border: 1px solid #ddd !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #000;
    border-radius: 4px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all .3s;
    transition: all .3s;
}

textarea,
textarea.form-control {
    height: 90px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 30px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus,
textarea.form-control:focus {
    outline: 0 !important;
    background: #fff !important;
    border: 1px solid #555 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

input[type="text"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
select::-moz-placeholder,
select option,
textarea::-moz-placeholder,
textarea.form-control::-moz-placeholder {
    color: #000 !important;
}

input[type="text"]::-ms-input-placeholder,
input[type="number"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="date"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
select::-ms-input-placeholder,
select option,
textarea::-ms-input-placeholder,
textarea.form-control::-ms-input-placeholder {
    color: #000 !important;
}

input[type="text"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
select::-webkit-input-placeholder,
select option,
textarea::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
    color: #000 !important;
}

input[type="text"]::input-placeholder,
input[type="number"]::input-placeholder,
input[type="email"]::input-placeholder,
input[type="date"]::input-placeholder,
input[type="password"]::input-placeholder,
select::input-placeholder,
select option,
textarea::input-placeholder,
textarea.form-control::input-placeholder {
    color: #000 !important;
}

label {
    font-weight: 300;
}


button.btn {
    min-width: 105px;
    height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    border-radius: 4px;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

button.btn:hover {
    opacity: 0.6;
    color: #fff;
}

button.btn:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.btn:focus,
button.btn:active:focus,
button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    color: #fff;
}

button.btn.btn-next,
button.btn.btn-next:focus,
button.btn.btn-next:active:focus,
button.btn.btn-next.active:focus {
    background: #fe0000;
}

button.btn.btn-submit,
button.btn.btn-submit:focus,
button.btn.btn-submit:active:focus,
button.btn.btn-submit.active:focus {
    background: #fe0000;
}

button.btn.btn-previous,
button.btn.btn-previous:focus,
button.btn.btn-previous:active:focus,
button.btn.btn-previous.active:focus {
    background: #bbb;
}

input[type="submit"] {
    min-width: 105px;
    height: 40px;
    background-color: #fe0000;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    border-radius: 4px;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}
